body{
    font-family: 'Ubuntu', sans-serif;
    min-width: 650px;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin:0;
}



/* tnotification CSS begins here */
.notification {
    background-color: #ee3425;
    height:40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1280px;
}
.offer {
    color: #fff;
}
.remove_btn {
    color:#fbdc00; 
    right: 5rem;
    float:right;
    cursor: pointer;
}
.close{
    display:none;
} 

@media(max-width: 992px) {
    .notification {
        min-width:auto;
    }
}
/* top offer CSS ends here */



/* header/nav CSS begins here */
.header {
    width: 100%;
    height: 3.5rem;
    position: sticky;
    top: 0px;
    left: 0px;  
    z-index: 5  ;
    min-width: 1280px;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #fbdc00;
    height: 3.5rem;
}
nav.scroll {
    background-color: white;
    color: black;box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
}
.nav_ul {
    padding-left: 0;
}
.login_signup {
    display: flex; 
    align-items: center;
}
.toggle_btn {
    color:black;
    font-size: 1.5rem;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    display:none;
}
@media(max-width: 992px) {
    nav ul li{
        display:none;
    }
    .login_signup{
        display:none;
    }
    .toggle_btn {
        display:block;
    }
    .nav_ul {
        display: none;
    }
    .header {
        min-width:auto;
    }
}
/* header/nav CSS ends here */


.whole-content{
    display: flex;
    flex-direction: column;
}


/* Introduction CSS begins here */
.introduction {
    display : flex;
    align-items : center;
    background-image: url(./images/home-banner-background.webp);
    height : 28rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    /* min-width: 1280px; */
    justify-content: center;
    background-color: rgb(251, 220, 0);
}
.introduction_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    width: 32%;
    min-width: 590px;
}
.introduction_video video {
    width: 600px; 
    height: 500px;
    margin-bottom: -68px;
}
.introduction_form {
    position: relative;
    display: flex;
    height: 2.8rem;
    min-width: 150px;
    max-width: 250px;
    max-height: 40px;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
}
                  
.introduction_form input {
    border-radius: 16px;
    border: none;
    background-color: white;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
}
                  
.introduction_form .btn {
    position: absolute;
    width: 100px;
    right: -20px;
    top: 4px;
    bottom: 4px;
    border-radius: 14px;
    background-color: #36bb22;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: .6s ease;
}

.introduction_form .btn :hover {
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 8px;
}
@media(max-width: 767px) {
    .introduction {
        height: 660px;
        background-image: none;
        background-color: #fbdc00;
        flex-direction: column-reverse;
        min-width:auto;
        padding-left: 10%;
    }
    .introduction_video video {
        width: 500px; 
        height: 500px;
        object-fit: contain;
        margin-top: -5rem;
    }
    
}
/* Introduction CSS ends here */


/* numbers CSS begins here*/
.numbers {
    width:80%;
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    min-width: 1280px;
}
  
.numbers_item {
    text-align: center;
}
  
.numbers_item h2 {
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    color: #ee3425;
}
  
.numbers_item h4 {
    margin-top: -20px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}
@media(max-width: 990px) {
    .numbers {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-around;
        padding-left: -10rem;
        min-width: auto;
    }
    .numbers_item h2 {
        font-size: 30px;
    }
      
    .numbers_item h4 {
        font-size: 16px;
    }
    .partner {
       min-width: auto;
    }
}
/* numbers CSS ends here */

         




.Block4
{
    background-color: #fffef3;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    /* min-width: 1280px; */
    align-items: center;
}

.Block4-table
{
    display: flex;
    flex-direction: column;

}
.Block4-productcategory
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.Block4-productcategory h4
{
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
}

.Block4-productrow
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: row;
    justify-content: space-between;
    padding-left: 30px; */
}
.Block4-productrow a
{
    text-decoration: none;
}
.row1
{
    margin-left: 120px;
}

.row2
{
    margin-left: 185px;
}

.row3
{
    margin-left: 140px;
}

.row4
{
    margin-left: 200px;
}

.productbox
{
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    width: 184px;
    height:160px;
    margin:16px;
    padding: 0;
    box-shadow: 1px 1px 6px grey;
}

.productbox:hover
{
    border:1px solid #ee3425;
}

.productbox h4
{
    text-decoration: none;
    margin:0;
    text-align: center;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    color : #00101f;
}

.productbox h6
{
    color: #ee3425;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0;
}
@media(max-width: 990px) {
    .Block4-productcategory {
        flex-direction: column;
    }
    .Block4 {
    }

    
}

@media (max-width: 767px){
    .Block4-productrow{
        display: flex;
        flex-wrap: wrap;
    }

}


/* partners CSS begins here */
.partner {
    display: flex;
    overflow: hidden;
    gap: 1rem;
    position: relative;
    user-select: none;
    margin-top: 1rem;
    margin-bottom: 5rem;
    min-width: 1280px;
  }
  
  .partner_content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  }
  @media(max-width: 990px) {
    .partner {
       min-width: auto;
    }
}
  @keyframes left_scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 1rem));
    }
  }
  .left_scroll {
    animation: left_scroll 45s linear infinite;
  }
/* paerner CSS ends here */

                .eight-portion
                {
                    margin-top: 37px;
                }
                .eight-portion-two
                {
                display: flex;
                justify-content: center; 
                align-items: center;
                margin-top: 30px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: 700;
                }
                .eight-portion-two button
                {
                width: 200px;
                height: 36px;
                padding: 20px;
                box-sizing: border-box;
                border-radius: 20px;
                margin: 0 20px; 
                }


/* how it works section starts */

.how-block{
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 80px;
  }
  
  
  
  .how-button-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .how-button{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    width:200px;
    height: 40px;
    margin: 10px 10px;
  }
  
  .how-diagram-section{
    position: relative;
    display: flex;
    flex-direction: row;
    font-family: 'PT Sans', sans-serif;
    align-items: center;
    justify-content: center;
  
  }
  
  .sidecolumns{
    display: flex;
    flex-direction: column;
  
  }
  
  .midcolumn{
    display: flex;
    flex-direction: column;
  }
  
  .midcolumn-mobile{
    display: none;
  }
  
  .laptop-lines-above{
    display:flex;flex-direction:row;justify-content:space-between; margin-bottom:-10px;
  }
  .laptop-lines-below{
    margin-top:-25px; display:flex; flex-direction:row; justify-content:space-between;
  }
  
  /*.la1{
    margin-left:0px;
    margin-bottom: -15px;
  }
  
  .la2{
    padding-left: 300px;
    margin-bottom:-15px;
  }
  
  .la4{
    padding-left: 300px;
  }*/
  
  .stage-box{
    width:280px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 6px grey;
  }
  
  .stage-box p{
    color: #ee3425;
    font-size: 16px;
    font-weight: 600;
  }
  
  .icon{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .icon-heading{
    font-weight: 600;
    font-size: 20px;
    padding-left: 10px;
  }
  
  .list-section{
    font-family: 'PT Sans', sans-serif;
    margin-left: -20px;
  
  }

  @media (max-width: 767px){
    .how-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .how-diagram-section{
      flex-direction: column;
    }
      .midcolumn{
      display: none;
    }
    .midcolumn-mobile{
      display: block;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    .sidecolumns{
      width: 100%;
    }
    .stage-box{
        width: 100%;
    }
   
    .how-button-section{
      flex-direction: column;
    }
  
  }
  
  
  
  
/* how it works section ends */


/* Industry CSS begins here */
.industry
{
    background: #fffef3;
    padding-top: 1rem;
    min-width: 1280px;
}
.industry_items
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.industry_item
{
    padding: 40px;
}
@media(max-width: 992px) {
    .industry {
       min-width: auto;
    }
}
/* Industry CSS ends here */


/* Get_started CSS begins here */
.image_text_combo {
    background-color: #fff;
    margin-top: 110px; 
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 1280px;
}
.image_text_combo_text {
    display: flex;
    flex-direction: column;
    margin-top: -2%;

}
.image_text_combo_img {
    padding-left: 10rem;
    object-fit: contain;
}
.image_text_combo_btn {
    background-color: #ee3425;
    color:white; 
    font-weight: bold; 
    width: 150px; 
    border: none; 
    border-radius: 10px; 
    height: 45px;
}
.floating{
    
    animation: floatUpAndDown 3s infinite;
}
.image_text_combo_h1 {
    margin-bottom: 8px; 
    font-size:48px;
}
@keyframes floatUpAndDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media(max-width: 992px) {
    .image_text_combo {
        padding-left: 20px;
        flex-direction: column-reverse;
        min-width: auto;
    }
    .image_text_combo_h1  {
        font-size: 30px;
    }
    .image_text_combo_btn {
       width: 600px;
       padding-left: 20px;
    }
    .image_text_combo_img {
        padding-left: 0;
    }
}
/* Get_started CSS ends here */



/* VideoContainer CSS ends here */
.video_container {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: brightness(50%);
    min-width: 1280px;
}
/* VideoContainer CSS ends here */

/* know_more CSS begins here */
.know_more {
    background-color: #ee3425;
    margin-top:-10px;
    display: flex;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}
  
.know_more_text {
  min-width: 400px;
}

.know_more h2 {
  margin-top: 0;
}

.know_more_btn {
  border: none;
  background-color: #fbdc00;
  border-radius: 3px;
  width:120px;
  height: 30px;
  min-width:120px;
  min-height: 30px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 0 0 20px;
}

.know_more_btn a {
    text-decoration: none;
    color: #1f0b0b;;
}
@media(max-width: 992px) {
    .know_more {
        flex-direction: column;
        align-items: flex-start;
        min-width: auto;
    }
}
/* know_more CSS ends here */



/* blogs CSS begins here */
.blogs_section {
    margin-top: 50px;
    min-width: 1280px;
}
.blog {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.blogcard {
    box-shadow: 0 1px 6px   rgb(169 188 218 / 65%);
    border-radius: 8px;
    width: 350px;
    margin-left: 15px; 
    margin-right: 15px;
    min-width: 350px;
}
@media(max-width: 992px) {
    .blogs_section {
      min-width: auto;
    }
    .blog {                
        flex-direction: column;
        align-items: center;
    }
    .blogcard {
        width: 90%;
        margin-bottom: 3rem;
    }
}
/* blogs CSS ends here */


/* subscribe CSS begins here */
.subscribe {
    background-color: #fbdc00;
    display: flex;
    justify-content: center;
}
.subscribe_text {
    margin-top: 10rem;
    margin-left: 12rem;
}
.subscribe_img {
    margin-top: 5rem;
}
@media(max-width: 992px) {
    .subscribe_img {
        display: none;
    }
    .subscribe_text {
        margin-top: 2rem;
        margin-left: 0;
    }
    .subscribe_text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
/* subscribe CSS ends here */


.bottom-block-2{
/*border: solid;
border-color: #fbdc00;*/
background-color: #fbdc00;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-top: 30px;
padding-bottom: 30px;
padding-left: 50px;
padding-right: 200px;
}

.bottom-inside-block-2 h3{
font-size: 20px;
font-family: 'PT Sans', sans-serif;
text-decoration: underline;
font-weight: 700;
}

.bottom-inside-block-2 h4{
font-size: 14px;
font-family: 'Ubuntu', sans-serif;
}

.bottom-inside-block-2 p{
color: #2c3e50;
font-size: 14px;
font-family: 'Ubuntu', sans-serif;
}
.bottom-inside-block-2 a{
    text-decoration: none;
}
.bottom-inside-block-2 p:hover{
text-decoration: underline;
}

.supply{
padding-top: 37px;
}



.Routes
{
    background-color: #ebbe00;
    display: flex;
    justify-content: space-between;
}

.Routes div
{
    width : 25%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.routes-column p
{
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
}

.Routes p:hover
{
    color: #ec5b19;
    font-weight:700;
    text-decoration: underline;
}
.Routes a{
    color: #1f0b0b;
    text-decoration: none;
}
.footer
{
    background-color: #ebbe00;  
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    font-size: 0.8rem;
}
.footer-one
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}